/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.button {
    background-color: #008CBA;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button-circle {
    border-radius: 50%;
}

.button:hover {
    background-color: rgb(0, 115, 153);
    cursor: pointer;
}

.button-reset {
    background-color: #f44336;
    padding: 15px 32px;
    text-transform: uppercase;
}

.button-reset:hover {
    background-color: #d12f23;
}

.button-transparent {
    border: none;
    background-color: transparent;
    padding: 0px;
    margin: 0px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.button-transparent:hover {
    cursor: pointer;
}